%div.container
  %div.row
    %div.card
      %div.col-12.text-right.mb-3
        %div.col-12
          = link_to t('general_text.new_receiver'), new_receiver_path(), class: 'btn btn-primary'
      %div.col-12
        = render partial: 'receivers'

#modal